body{
background-color: indianred;
}
h1{
    background-color: lightcoral;
    color:darkred;
}
#show_sketch{
    float: right;
}
canvas{
    border: 2px solid lightpink;
    background-color: white;
    box-shadow: 5px 5px 20px red;
}
#score{
    float: left;
    padding-left: 50px;
}
#time{
    float: right;
    padding-right: 50px;
}